.content{
    background-color: rgb(244, 228, 228);
}

h1{
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 80px;
    color: rgb(244, 66, 66);
}

p{
    font-size: 22px;
    text-align: justify;
    font-family: sans-serif;
    line-height: 2;
    margin: 70px;
}